<% layout('/layouts/boilerplate') %>
<div class="row mt-3 mb-3">
    <h2 class="col-12 col-md-6 offset-md-3 text-center">Signup</h2>
    <div class="col-12 col-md-4 offset-md-4 signup shadow-custom">
        <form action="/signup" method="POST" novalidate class="needs-validation" onsubmit="return validateForm()">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" required id="username" placeholder="Enter your username">
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required id="email" placeholder="Enter your email">
                <div class="invalid-feedback">Enter Email</div>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phoneNumber" required id="phoneNumber" placeholder="Enter your phone number">
                <div class="invalid-feedback">Enter Phone Number</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required id="password" placeholder="Enter your password">
                <div class="invalid-feedback">Enter Password</div>
            </div>
            
            <div class="mb-3">
                <label for="Confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="Confirm_password" required id="Confirm_password" placeholder="Confirm your password">
                <div class="invalid-feedback" id="passwordMismatch">Passwords do not match</div>
            </div>
            <button class="btn btn-dark ml-3 w-50">Signup</button>
        </form>
    </div>
</div>
<script type="module">
    function validateForm() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('Confirm_password').value;
        if (password !== confirmPassword) {
            document.getElementById('passwordMismatch').style.display = 'block';
            return false;
        }
        return true;
    }
</script>
